@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<div class="jumbotron">
    <h1>Älytalo</h1>
    <img src="~/Images/iot-house-512.png" />
    <p class="lead"></p>
    
</div>

<div class="row">
    <div class="col-md-4">
       
        